body{
    margin: 0;
}
.footer-container{
    background-color: rgb(195, 184, 184);
    padding: 50px 0;
}
.footer-icon{
    font-size: 35px;
    margin: 5px;
    cursor: pointer;
}
.footer-icon:hover{
    color: burlywood;
    transition: .4s;
}
.footer-nav{
    text-decoration: none;
    transition: .4s;
}
.footer-nav:hover{
    font-weight: bold;
}